{% extends "forms_app/wrapper.html" %}

{% load staticfiles %}

{% block main %}
<!-- <form>
  <input type="button" value="Добавить" onclick="javascript:window.location='{{ type }}/add'" style="margin-bottom: 15px; margin-top: 15px">
</form> -->
<i>Количество классов: {{ q }}</i><br>
<table class="" style="width: 50%">
  <tr>
    <th class="" width='30%'>Класс</th>
    <th class="" width='70%'>Классный руководитель</th>
  </tr>
  {% for form in forms %}
  <tr>
    <td>{{ form.year }}-{{ form.number}}</td>
    <td>{{ form.head.user.last_name }} {{ form.head.user.first_name }} </td>
  </tr>
  {% endfor %}
</table>
{% endblock main %}
