{% extends  "accounts/wrapper.html" %}

{% block title %}Авторизация{% endblock %}

{% block main %}

<div class="parent">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" value="Войти" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>


{% endblock %}
