{% extends "schforms/wrapper.html" %}

{% load staticfiles %}


{% block main %}
<form>
  <input type="button" value="Добавить" onclick="javascript:window.location='http://127.0.0.1:8000/announcements/add'" style="margin-bottom: 15px">
</form>
<table class = 'announcements'>
  <tr>
    <th class="announcement_date_h">Дата</th><th class="announcement_author_h">От кого</th><th class="announcement_body_h">Сообщение</th><th class="announcement_change_h">Изменить/удалить</th>
  </tr>
  {% for announcement in announcements %}
    <tr>
      <td class="announcement_date">{{ announcement.date_pub }}</td>
      <td class="announcement_author">{{ announcement.author.surname }} {{ announcement.author.firstname }} {{ announcement.author.patronymic }}</td>
      <td class="announcement_body"><b>Тема: {{ announcement.title }}</b> <!--(id: {{ announcement.id }})--><br>{{ announcement.body|linebreaksbr }}</td>
      <td class="announcement_change">
        <form class="" action="/announcements/open_edit" method="post" style = "float: left">
          {% csrf_token %}
          <input type = 'hidden' name = 'id' value = '{{ announcement.id }}'></input>
          <input type = 'image' src = "{% static 'announcements/images/edit.png' %}" style="height: 20px"></input>
        </form>
        <form class="" action="/announcements/delete" method="post" style = "float: left">
          {% csrf_token %}
          <input type = 'hidden' name = 'id' value = '{{ announcement.id }}'></input>
          <input type = 'image' src = "{% static 'announcements/images/delete.png' %}" style="height: 20px"></input>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock main %}
