<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}" type="text/css">
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <style media="screen">
      table, td{
        width: auto;
        border: 0;
      }
      table{
        margin: auto;
      }
      .parent {
          width: 100%;
          height: 70%;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          overflow: auto;
      }
    </style>
  </head>
  <body>
      {% block main %}

      {% endblock main %}
    </div>
  </body>
</html>
