{% extends "announcements/wrapper.html" %}

{% load staticfiles %}

{% block header %}

{% endblock header %}


{% block main %}
<form class="" method="post" onsubmit = 'return OnSubmitForm();' name = 'edit'>
  {% csrf_token %}
  <table>
    {% for field in form %}
    <tr>
      <th align = "right" valign = "top">
        {{ field.label }}
      </th>
      <td>
        {{ field }}
      </td>
    </tr>
    {% endfor %}
    {% if type == 'students' %}
    <tr>
      <th align = "right" valign = "top">Класс</th>
      <td>{{ chF.form }}</td>
    </tr>
    {% endif %}
  </table>
  <input type="hidden" name="id" value="{{ id }}"></input>
  <script>
    function OnSubmitForm() {
      if(document.pressed == 'Сохранить') {
        document.edit.action = "/users/{{ type }}/editing";
      }
      else if(document.pressed == 'Удалить') {
        document.edit.action = "/users/{{ type }}/delete";
      }
      return true;
    }
  </script>
  <input type="submit" name="Operation" onclick="document.pressed = this.value" value="Сохранить"></input>
  <input type="reset" value="Очистить поля"></input>
  <input type="button" value="Вернуться" onclick="javascript:window.location='http://127.0.0.1:8000/users/{{ type }}'">
  {% if id != '' %}
    <input type="submit" name="Operation" onclick="document.pressed = this.value" value="Удалить"></input>
  {% endif %}
</form>
{% endblock main %}
