{% extends "users/wrapper.html" %}

{% load staticfiles %}


{% block main %}
<i><a href="http://127.0.0.1:8000/users/">Пользователи</a> &mdash; {{ title }}</i></br>
<form>
  <input type="button" value="Добавить" onclick="javascript:window.location='{{ type }}/add'" style="margin-bottom: 15px; margin-top: 15px">
  <input type="button" value="Импорт" onclick="javascript:window.location='{{ type }}/import'" style="margin-bottom: 15px; margin-top: 15px">
</form>
<i>Количество пользователей в данной категории: {{ q }}</i>
<table>
  <tr>
    <th>Фамилия</th>
    <th class="" width='10%'>Имя</th>
    <th class="" width='10%'>Отчество</th>
    <th class="" width='5%'>Пол</th>
    <th class="" width='10%'>Телефон</th>
    <th class="" width='15%'>Email</th>
    <th class="" width='10%'>Имя пользователя</th>
    <th class="" width='10%'>Пароль</th>
    <th class="" width='15%'>Дата рождения</th>
    <th class="" width='5%'>Изменить/удалить</th>
  </tr>
  {% for user in users %}
    <tr>
      <td class="">{{ user.user.last_name }}</td>
      <td class="">{{ user.user.first_name }}</td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class="">{{ user.user.email }}</td>
      <td class="">{{ user.user.username }}</td>
      <td class=""></td>
      <td class=""></td>
      <td>
          <form class="" action="/users/{{ type }}/edit" method="post" style = "float: left">
            {% csrf_token %}
            <input type = 'hidden' name = 'id' value = '{{ user.user.id }}'></input>
            <input type = 'image' src = "{% static 'announcements/images/edit.png' %}" style="height: 20px"></input>
          </form>
          <form class="" action="/users/{{ type }}/delete" method="post" style = "float: left">
            {% csrf_token %}
            <input type = 'hidden' name = 'id' value = '{{ user.user.id }}'></input>
            <input type = 'image' src = "{% static 'announcements/images/delete.png' %}" style="height: 20px"></input>
          </form>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock main %}
