{% extends "marks/wrapper.html" %}

{% load staticfiles %}



{% block main %}
<style media="screen">
  td{
    border: 0;
  }
</style>
<script type="text/javascript">
function addWork(){
  var rows = $('#main tr');
  var cell = document.createElement('td');
  var typeI = document.querySelector('#id_type').options.selectedIndex;
  var typeV = document.querySelector('#id_type').options[typeI].value;
  var typeT = document.querySelector('#id_type').options[typeI].text;
  var text = document.createTextNode(typeT);
  var dIcon = document.createElement('img');
  dIcon.src = "{% static 'announcements/images/delete.png' %}";
  dIcon.style.height = '15px';
  dIcon.classList.add('deleteColB');
  $(dIcon).click(function(){
    deleteWork($(this));
  });
  cell.appendChild(text);
  cell.appendChild(document.createElement('br'));
  cell.appendChild(dIcon);
  rows[0].appendChild(cell);
  for (i = 1; i < rows.length; i++){
    var cell = document.createElement('td');
    var field = document.createElement('input');
    field.type = 'text';
    field.size = 3;
    cell.appendChild(field);
    rows[i].appendChild(cell);
    field.name = "new_" + document.querySelector('#num').value + "_" + rows[i].querySelectorAll('td')[1].firstChild.name;
  }
  document.querySelector('#count').value += typeV + "__";
  document.querySelector('#num').value++;
}
function deleteWork(i){
  if(confirm('Удалить колонку?')){
    var n = $(i).parent().parent().children().index($(i).parent());
    // var table = $('.main');
    var rows = $('#main tr');
    rows.each(function(){
      $(this).children('td:eq(' + n + ')').detach();
    });
  }
}
</script>
<form class="" action="" method="post">
  {% csrf_token %}
  <table style = "width: auto; border: 0">
    <!-- <tr>
      <td>Дата урока</td>
      <td><input type="date" name="" value=""></td>
    </tr> -->
    <tr>
      <td><b>{{ editLessonForm.topic.label }}</b></td>
      <td>{{ editLessonForm.topic }}</td>
    </tr>
    <tr>
      <td><b>{{ editLessonForm.hometask.label }}</b></td>
      <td>{{ editLessonForm.hometask }}</td>
    </tr>
    <!-- <tr>
      <td><b>{{ editLessonForm.num.label }}</b></td>
      <td>{{ editLessonForm.num }}</td>
    </tr> -->
  </table>
  Для добавления колонки используйте этот выпадающий список: {{ editLessonForm.type }} <input type="button" name="" value="Добавить" onclick="addWork();">
  <table style = "width: auto; border: 0" id = 'main'>
    <tr id = 'f'>
      <td></td>
      <td>Посещаемость</td>
      {% for work in works %}
        <td name = 'lksd'> {{ work.type }}<br><img class = 'deleteColB' src = "{% static 'announcements/images/delete.png' %}" style="height: 15px"></img></td>
      {% endfor %}
    </tr>
    {% for row in grand %}
      <tr>
        <td>{{ row.0 }}</td>
        <td><select class="" name="{{ row.1.0 }}">
          {% if row.1.1 == 'ОТ' %}
          <option value=""></option>
          <option value="ОТ" selected>ОТ</option>
          {% else %}
          <option value="" selected></option>
          <option value="ОТ">ОТ</option>
          {% endif %}

        </select></td>
        {% for mark in row.2 %}
          <td><input type="text" name="{{ mark.0 }}" value="{{ mark.1 }}" size = '3'></td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <input type="hidden" id = 'count' name="count" value="">
  <input type="hidden" id = 'num' name="num" value="0">
  <input type="submit" name="submit" value="Сохранить">
</form>
<script type="text/javascript">
  $('.deleteColB').click(function(){
    deleteWork($(this));
  });
</script>
{% endblock main %}
