{% extends "marks/wrapper.html" %}

{% load staticfiles %}



{% block main %}
<script type="text/javascript">
  function showMarkbook(){
    url =  'http://' + document.location.host + '/markbook/' + document.getElementById("id_markbook").options.selectedIndex;
    document.location.href = url;
  }
</script>
<style>
fieldset {
  overflow: hidden;
  width: 20%;
  min-width: 100px;
  display: table-cell;
  margin: 0;
  margin-bottom: 10px;
}
</style>
<form class="" action="/markbook/" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Выбор журнала</legend>
    {{ MarkbookChoice.markbook }}
  </fieldset>
  <!--<input type="submit" value="Открыть"></input>-->
  <!--<input type="button" value="Создать новый журнал" onclick="javascript:window.location='http://127.0.0.1:8000/markbook/'">-->
</form>
{% if error %}
Выберите журнал для отображения.
{% else %}
<!-- <form class="" action="index.html" method="post">
  <fieldset>
    <legend>Добавление урока</legend>
    <input type="date" name="" value="">
    <input type="button" name="addLessonButton" value="Добавить урок" onclick="addLesson()">
  </fieldset>
</form> -->
<table style = "width: auto" id = 'main'>
  <tr height = "12px">
    <th rowspan="3">Ученик</th>
    {% if months.0 != 0 %}
      <th colspan="{{ months.0 }}">Январь</th>
    {% endif %}
    {% if months.1 != 0 %}
      <th colspan="{{ months.1 }}">Февраль</th>
    {% endif %}
    {% if months.2 != 0 %}
      <th colspan="{{ months.2 }}">Март</th>
    {% endif %}
    {% if months.3 != 0 %}
      <th colspan="{{ months.3 }}">Апрель</th>
    {% endif %}
    {% if months.4 != 0 %}
      <th colspan="{{ months.4 }}">Май</th>
    {% endif %}
    {% if months.5 != 0 %}
      <th colspan="{{ months.5 }}">Июнь</th>
    {% endif %}
    {% if months.6 != 0 %}
      <th colspan="{{ months.6 }}">Июль</th>
    {% endif %}
    {% if months.7 != 0 %}
      <th colspan="{{ months.7 }}">Август</th>
    {% endif %}
    {% if months.8 != 0 %}
      <th colspan="{{ months.8 }}">Сентябрь</th>
    {% endif %}
    {% if months.9 != 0 %}
      <th colspan="{{ months.9 }}">Октябрь</th>
    {% endif %}
    {% if months.10 != 0 %}
      <th colspan="{{ months.10 }}">Ноябрь</th>
    {% endif %}
    {% if months.11 != 0 %}
      <th colspan="{{ months.11 }}">Декабрь</th>
    {% endif %}
    <th rowspan="3" width="70px">Средний балл</th>
    <th rowspan="3" width="70px">Рейтинг</th>
    <th rowspan="3" width="70px">Итоговая оценка<br><a href="results/"><img src = "{% static 'announcements/images/edit.png' %}" style="height: 15px"></img></a></th>
  </tr>
  <tr height='9px'>
    {% for date in dates %}
      <td align = 'center' valign = 'center' style="background-color: #b3b3b3; min-width: 20px;  border-bottom: 0" colspan="{{ date.1}}"><b>{{ date.0 }}</b><br>
        <a href="{{ date.2 }}/"><img src = "{% static 'announcements/images/edit.png' %}" style="height: 10px"></img></a>
      </td>
    {% endfor %}
  </tr>
  <tr>
    {% for type in types %}
      <td align = 'center' valign = 'center' style="background-color: #b3b3b3; min-width: 20px; font-size: 8pt; border-right: 0;  border-left: {{ type.2 }};  border-top: 0">{{ type.0 }}<br>{{ type.1 }}</td>
    {% endfor %}
  </tr>
  {% for name, marks in result.items %}
  <tr class = "row">
    <td valign = 'center'>{{ name }}</td>
    {% for day in marks %}
      <td align = 'center' valign = 'center' style="min-width: 20px">{{ day }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock main %}
